@import "utils/mixin";
@import "utils/variables.scss";
@import "base/reset.scss";
@import "layout/header";
@import "layout/footer";
@import "views/index.scss";
@import "views/smartphone.scss";
@import "js/carrito";

body {
  background-color: $color-fondo;
  font-family: "Lora", serif;
}
main {
  width: 100%;
  background-color: rgb(58, 218, 172);
  background-image: linear-gradient(to bottom, #c65959, #c1c1c1, #c65959);
}













